#board {
    width: 100px;
    margin-bottom: 10px;
    line-height: 10px;
}
.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff; 
}
.dead {
    background-color: #000; 
}
.inputs {
    margin-bottom: 10px;
}