doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="description" content="Developer's cv page")
        meta(name="keywords" content="cv, developer, photo, contact, skills, education, experience, sofware")
        meta(name="author" content="Lamonov Maks")
        title CV
    body
        main
            #board
            .inputs
                input(type="text" id="widthInput")
                input(type="text" id="heightInput")
            .buttons
                button(id="startButton") Start
                button(id="pauseButton") Pause
                button(id="restartButton") Restart